@charset "UTF-8";
/* FOOTER
====================================================================*/
.footer {
    background-color: #f8f9fa;
    height: 150px;
    width: 100%;
    padding-top: 70px;
    text-align: center;
}
.footerWrap {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footerDiv p:first-child {
    font-family: Playfair, sans-serif;
    font-weight: bold;
}
.aboutMe > ul > li {
    display: inline-block;
    padding-right: 15px;
}
.aboutMe {
    border-bottom: #f6f6f6 2px solid;
    padding-bottom: 15px;
}
.contactMe ul > li {
    padding: 5px 0;
}
.contactMe ul > li > a {
    font-size: 1.4rem;
}
#copyright, #credits {
    font-size: 1rem;
}
/* VERSION TABLETTE */
@media screen and (min-width: 768px) {
    .footerWrap {
        display: flex;
        justify-content: space-around;
    }
    .aboutMe {
        width: 50%;
        border-bottom: none;
        border-right: #f6f6f6 2px solid;
    }
    .contactMe {
        width: 50%;
    }
}
/* DIVERS
====================================================================*/
.clearfix::after {
    content:'';
    clear: both;
    display: block;
    font-size:0;
    line-height: 0;
    margin: 0;
    padding: 0;
}
.repairfix {
    clear:both;
}